<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <form action="/puppy" method="post">
      <h2> Puppy Name:</h2>
      <p><%= @puppy.name %> </p>

      <h2> Puppy Breed:</h2>
      <p><%= @puppy.breed %> </p>

      <h2> Puppy Age:</h2>
      <p><%= @puppy.age%> </p>
    </form>
  </body>
</html>

